<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/community.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/community.css" />

<body>
	<div th:fragment="nav">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">标题</span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">社区</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">

					<form class="navbar-form navbar-left" action="/" method="get">
						<div class="form-group">
							<input type="text" class="form-control" name="search"
								placeholder="搜索问题">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>

					</form>
					<ul class="nav navbar-nav navbar-right">
						<li th:if="${session.user}!=null"><a href="/publish">发布</a></li>
						<li th:if="${session.user}!=null"><a href="/profile/replies">通知
								<span class="badge" th:text="${session.unreadCount}"></span>
						</a></li>
						<!--  
						<li th:if="${session.user==null}">
							<a th:href="@{https://github.com/login/oauth/authorize(client_id='d7b4e607d978f48fcc38',redirect_uri=${#httpServletRequest.getRequestURL()+'callback'},scope='user',state=1)}"
							>登录</a></li>
						<li th:if="${session.user==null}">
							<a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101809971&redirect_uri=http://192.168.0.104/connect&scope=get_user_info"
							>注册</a></li>
							-->
						<li th:if="${session.user==null}"><a onClick="openme()">登录</a>
						</li>
						<li class="dropdown" th:if="${session.user}!=null"><a
							href="#" class="dropdown-toggle" data-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false"> <span
								th:text="${session.user.getNickname()}"></span> <span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ><a href="/profile/questions"> 我的问题</a></li>
								<li th:if="${session.user.role} eq 2 "><a
									href="/admin/role">系统管理</a></li>
								<li><a href="/userInfo">个人中心</a></li>
								<li><a class="glyphicon glyphicon-envelope"  href="/dialog/all"> 私信</a></li>
								<li><a href="/logout">退出登录</a></li>


							</ul></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<div id="login-background" class="div-login"></div>

		<div id="login-interface" class="form-login">
			
			<form class="form-horizontal" >

				<div class="form-group  ">
					<label  class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="localUser"
							 placeholder="用户名">
					</div>
				</div>

				<div class="form-group ">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="localUserpwd"
							 placeholder="Password">
					</div>
				</div>
							<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <div class="checkbox">
			        <label>
			          <input type="checkbox"> Remember me
			        </label>
			      </div>
			    </div>
			  </div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button  onclick="locallogin()" class="btn btn-default">登录</button>
					</div>
				</div>
				<div class="col-sm-offset-2 col-sm-10">
					其他登录： <a  onclick="qqlogin()"><img  class="login_logo"
						src="/images/1230490.gif" /></a> <a onclick="githublogin()"><img
						class="login_logo" src="/images/GitHub-connect.gif"></a> <a
						href="/register" style="float: right;">注册</a>
				</div>
			</form>
		</div>


	</div>
</body>
</html>

